In [4]:
#IMPORTACOES
import pandas as pd
import random
from datetime import datetime, timedelta

In [10]:
#gerando 10000 usuarios ficticios:
num_registros = 10000
nomes = ["Carlos", "Ana", "João", "Mariana", "Pedro", "Fernanda", "Lucas", "Juliana"]
planos = ["Básico", "Padrão", "Premium"]
status_opcoes = ["Ativo", "Cancelado"]

dados = {
    'id': list(range(1, num_registros + 1)),  # Gera IDs de 1 a 10000
    'name': [random.choice(nomes) for _ in range(num_registros)],  # Remove o número no nome
    'email': [f"user{i}@email.com" for i in range(num_registros)],
    "date_register": [(datetime.today() - timedelta(days=random.randint(0, 365))).strftime("%Y-%m-%d") for _ in range(num_registros)],
    "plane": [random.choice(planos) for _ in range(num_registros)],
    "status": [random.choice(status_opcoes) for _ in range(num_registros)],
}

In [11]:
#CRIANDO DATA FRAME
df = pd.DataFrame(dados)
df.head()

   id     name            email date_register    plane     status
0   1  Mariana  user0@email.com    2025-01-15   Padrão      Ativo
1   2    Lucas  user1@email.com    2024-07-20   Padrão      Ativo
2   3     João  user2@email.com    2024-08-05  Premium      Ativo
3   4  Juliana  user3@email.com    2025-01-31  Premium      Ativo
4   5  Mariana  user4@email.com    2024-05-12   Básico  Cancelado

In [12]:
#SALVANDO COMO CSV SEM INDICE E CABEÇALHO
df.to_csv('usuarios.csv', index=False, header=False)

In [ ]:
#CARREGANDO O CSV NO POSTGRESQL