Projeto inserindo dados Json da anac em banco postgre
Passos do projeto:
1 - importar json como df
2- tratar os dados levar apenas colunas
3- tirar acendo de nomes de colunas
4- criar bando de dados e tabela
5 - configurar conexao
6 - enviar dados para o postgre
7- Criar um delete da tabela para nao ter historico, mantendo em banco sempre os dados mais recentes
8- refaturar codigo ( apagar oque nao será usado)
9 - salvando com extensao PY

In [5]:
import pandas as pd
from IPython.display import display
pd.set_option('display.max_columns', None) #Para ver todas as colunas
url = r"C:\Users\Gioher\Downloads\archive (1)\V_OCORRENCIA_AMPLA.json"
df = pd.read_json(url, encoding='UTF-8-SIG')
df.head(3)

,Numero_da_Ocorrencia,Numero_da_Ficha,Operador_Padronizado,Classificacao_da_Ocorrência,Data_da_Ocorrencia,Hora_da_Ocorrência,Municipio,UF,Regiao,Descricao_do_Tipo,ICAO,Latitude,Longitude,Tipo_de_Aerodromo,Historico,Matricula,Categoria_da_Aeronave,Operador,Tipo_de_Ocorrencia,Fase_da_Operacao,Operacao,Danos_a_Aeronave,Aerodromo_de_Destino,Aerodromo_de_Origem,Lesoes_Fatais_Tripulantes,Lesoes_Fatais_Passageiros,Lesoes_Fatais_Terceiros,Lesoes_Graves_Tripulantes,Lesoes_Graves_Passageiros,Lesoes_Graves_Terceiros,Lesoes_Leves_Tripulantes,Lesoes_Leves_Passageiros,Lesoes_Leves_Terceiros,Ilesos_Tripulantes,Ilesos_Passageiros,Lesoes_Desconhecidas_Tripulantes,Lesoes_Desconhecidas_Passageiros,Lesoes_Desconhecidas_Terceiros,Modelo,CLS,Tipo_ICAO,PMD,Numero_de_Assentos,Nome_do_Fabricante,PSSO
0,310,0936/2015,INFINITY PARTICIPACOES LTDA,Incidente Grave,2015-06-19,09:25:00,SALVADOR,BA,Nordeste,EXCURSÃO DE PISTA,None,"-12,9086","-38,3225",None,A aeronave decolou de SBRF para SBKP transport...,PRSTJ,TPP,INFINITY PARTICIPAÇÕES LTDA/LEALJET- TRANSPORT...,RE,Táxi,Voo Privado,Substancial,SBKP,SBRF,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,3.0,0.0,0.0,0.0,1124A,L2J,WW24,10660.0,8.0,ISRAEL AIRCRAFT,verdadeiro
1,308,1056/2015,UIRAPURU TAXI AEREO LTDA,Acidente,2015-07-10,18:00:00,CAUCAIA,CE,Nordeste,FALHA OU MAU FUNCIONAMENTO DO MOTOR,None,"-3,75444","-38,7158",None,"A aeronave decolou de SBTE com destino à SBFZ,...",PTDYL,TPX,UIRAPURU TAXI AEREO LTDA,SCF-PP,Descida,Táxi Aéreo,Substancial,SBFZ,SBTE,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,3.0,0.0,0.0,0.0,BN-2A-7,L2P,BN2P,2857.0,10.0,BRITTEN-NORMAN,verdadeiro
2,303,1051/2015,IBAMA,Incidente Grave,2015-07-07,20:00:00,SANTA INÊS,MA,Nordeste,COLISÃO COM OBSTÁCULO DURANTE A DECOLAGEM E POUSO,None,"-3,61667","-45,3508",None,"Durante operação de fiscalização, na tentativa...",PRHMA,AIF,IBAMA,CTOL,Pouso,Operação Pública,Substancial,ZZZZ,ZZZZ,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3.0,3.0,0.0,0.0,0.0,206L-4,H1T,B06,2018.0,7.0,BELL HELICOPTER,verdadeiro

In [6]:
display(df.columns)

Index(['Numero_da_Ocorrencia', 'Numero_da_Ficha', 'Operador_Padronizado',
       'Classificacao_da_Ocorrência', 'Data_da_Ocorrencia',
       'Hora_da_Ocorrência', 'Municipio', 'UF', 'Regiao', 'Descricao_do_Tipo',
       'ICAO', 'Latitude', 'Longitude', 'Tipo_de_Aerodromo', 'Historico',
       'Matricula', 'Categoria_da_Aeronave', 'Operador', 'Tipo_de_Ocorrencia',
       'Fase_da_Operacao', 'Operacao', 'Danos_a_Aeronave',
       'Aerodromo_de_Destino', 'Aerodromo_de_Origem',
       'Lesoes_Fatais_Tripulantes', 'Lesoes_Fatais_Passageiros',
       'Lesoes_Fatais_Terceiros', 'Lesoes_Graves_Tripulantes',
       'Lesoes_Graves_Passageiros', 'Lesoes_Graves_Terceiros',
       'Lesoes_Leves_Tripulantes', 'Lesoes_Leves_Passageiros',
       'Lesoes_Leves_Terceiros', 'Ilesos_Tripulantes', 'Ilesos_Passageiros',
       'Lesoes_Desconhecidas_Tripulantes', 'Lesoes_Desconhecidas_Passageiros',
       'Lesoes_Desconhecidas_Terceiros', 'Modelo', 'CLS', 'Tipo_ICAO', 'PMD',
       'Numero_de_Assentos', 'Nome_do_Fabricante', 'PSSO'],
      dtype='object')

In [7]:
colunas = ['Numero_da_Ocorrencia', 'Classificacao_da_Ocorrência', 'Data_da_Ocorrencia','Municipio', 'UF', 'Regiao','Nome_do_Fabricante',]
df = df[colunas]
display(df.head())

,Numero_da_Ocorrencia,Classificacao_da_Ocorrência,Data_da_Ocorrencia,Municipio,UF,Regiao,Nome_do_Fabricante
0,310,Incidente Grave,2015-06-19,SALVADOR,BA,Nordeste,ISRAEL AIRCRAFT
1,308,Acidente,2015-07-10,CAUCAIA,CE,Nordeste,BRITTEN-NORMAN
2,303,Incidente Grave,2015-07-07,SANTA INÊS,MA,Nordeste,BELL HELICOPTER
3,82,Acidente,2015-05-24,ROCHEDO,MS,Centro-Oeste,EMBRAER
4,78,Acidente,2015-05-21,SÃO FÉLIX DO XINGU,PA,Norte,CESSNA AIRCRAFT

In [8]:
#Tirando acento no nome das colunas
df.rename(columns={'Classificacao_da_Ocorrência' : 'Classificacao_da_Ocorrencia' } , inplace=True)
df.head()

,Numero_da_Ocorrencia,Classificacao_da_Ocorrencia,Data_da_Ocorrencia,Municipio,UF,Regiao,Nome_do_Fabricante
0,310,Incidente Grave,2015-06-19,SALVADOR,BA,Nordeste,ISRAEL AIRCRAFT
1,308,Acidente,2015-07-10,CAUCAIA,CE,Nordeste,BRITTEN-NORMAN
2,303,Incidente Grave,2015-07-07,SANTA INÊS,MA,Nordeste,BELL HELICOPTER
3,82,Acidente,2015-05-24,ROCHEDO,MS,Centro-Oeste,EMBRAER
4,78,Acidente,2015-05-21,SÃO FÉLIX DO XINGU,PA,Norte,CESSNA AIRCRAFT

In [10]:
#EXEMPLO REAL
import psycopg2
dbname = 'python'
user = 'postgres'
password = 'postgres'
host = 'localhost'
port = '5432'

#Criando conexao
conn = psycopg2.connect(dbname = dbname,
                        user = user,
                        password = password,
                        host = host,
                        port = port)
cur = conn.cursor()
print(cur)

for i,con in df.iterrows():
    cur.execute("""
        insert into Anac (     
                    Numero_da_Ocorrencia, 
                    Classificacao_da_Ocorrencia, 
                    Data_da_Ocorrencia, 
                    Municipio, 
                    UF, 
                    Regiao, 
                    Nome_do_Fabricante
                ) VALUES (
                    %s, %s, %s, %s, %s, %s, %s )
        """
                ,(
                    con['Numero_da_Ocorrencia'],
                    con['Classificacao_da_Ocorrencia'],
                    con['Data_da_Ocorrencia'],
                    con['Municipio'],
                    con['UF'],
                    con['Regiao'],
                    con['Nome_do_Fabricante'],
                ))
conn.commit()

<cursor object at 0x000001C483A965E0; closed: 0>